<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<div class="body-container">
			<div class="side-nav"><%- include("./partials/side-nav.ejs") %></div>
			<div class="content">
				<%- include("./partials/body-head.ejs") %>
				<div class="cards-list">
					<% if (cardsList.length > 0){ %> <% cardsList.forEach(item => { %>
					<div class="card-container">
						<% if (item.card_set == "new card") { %>
						<img src="/assets/anonymous-card.png" />
						<div class="card-info">
							<div class="card-header">
								<i
									class="trash fa-solid fa-trash-can"
									data-doc="<%= item.id %>"
									id="delete_icon"
								></i>
								<h3 class="card-name">Name: <%= item.card_name %></h3>
							</div>
							<div class="card-description">
								<p>Description: <%= item.card_description %></p>
							</div>
							<!-- <div class="card_metadata">
								<p>Type: <%= item.card_type %></p>
							</div> -->
						</div>
						<% }else{ %>
						<img src="/assets/<%= item.card_img_name%>" />
						<div class="card-info">
							<div class="card-header">
								<h3 class="card-name">Name: <%= item.card_name %></h3>
							</div>
							<div class="card-description">
								<p>Description: <%= item.card_description %></p>
							</div>
							<!-- <div class="card_metadata">
								<p>Type: <%= item.card_type %></p>
							</div>
							<div class="card_set">
								<p>Set: <%= item.card_set %></p>
							</div> -->
						</div>
						<% } %>
					</div>
					<% }) %> <% }else{%>
					<p>No cards.</p>
					<% } %>
				</div>
			</div>
		</div>
		<div class="footer"><%- include('./partials/footer.ejs')%></div>
		<script>
			const cards = document.querySelectorAll("i.trash");
			cards.forEach((element) => {
				element.addEventListener("click", (event) => {
					const endpoint = `/cards/${element.dataset.doc}`;

					fetch(endpoint, { method: "DELETE" })
						.then((response) => response.json())
						.then((data) => (window.location.href = data.redirect))
						.catch((error) => console.log(error));
				});
			});
		</script>
	</body>
</html>
